@import "../scss/settings/mixin";
@import "../scss/settings/colors";
input {
  padding: 5px;
  margin: 5px;
  border: none;
  font-size: 1.2rem;
  font-family: "Open Sans";
  color:$color_3 ;
  &:focus {
    outline: none;
  }
}
label {
  margin-left: 10px;
  padding-top: 30px;
  font-family: "Open Sans";
  font-size: 1rem;
}
input {
  border-bottom: 1px solid $color_3;
}

