@import "../settings/mixin";
@import "../settings/colors";

.about_ass {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
    height: 100%;
  }
  .about_nag,
  .about_box {
    color: $color_Font;
    font-size: 1.8rem;
    text-align: center;
    font-family: "Open Sans";
    padding: 0 40px;
    background-color: $color_primary;
    p {
      line-height: 3rem;
    }
  }
  .about_nag {
    font-size: 2.4rem;
    padding-top: 50px;
  }
  img {
    margin: 0;
    padding: 0;
  }
  .about_box {
    height: 100%;
  }
  .about_img {
    height: 100%;
  }
}

@media (min-width: 990px) {
  .about_ass {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: ". .";
    }
  }
  .about_signature {
    float: right;
  }
  .about_nag {
    margin-top: 50px;
  }
  .about_signature {
    margin-bottom: 50px;
  }
}
