@import "../settings/mixin";
@import "../settings/colors";

.about_ass {
  text-align: center;

  .about_nag {
    color: $color_Font;
    font-size: 2.4rem;
    text-align: center;
    font-family: "Open Sans";
    // background-color: $color_primary;
    font-weight: normal;
  }

  p {
    padding: 0 10px;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 3rem;
  }
}

@media (min-width: 990px) {
  .about_ass {
    display: flex;
    justify-content: space-between;

    img {
      margin: 0;
    }

    .about_box {
      width: 50%;
    }

    .about_line {
      margin-bottom: 20px;
    }
  }
  .about_img {
    width: 50%;
    height: 50%;

    img {
      height: 100%;
    }
  }
  .about_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_primary;
  }
  .about_signature {
    width: 100%;
    text-align: end;

    img {
      margin: 20px 100px 0 0;
    }
  }
  p {
    margin: 0 100px;
  }
}

