@import "../settings/mixin";
@import "../settings/colors";

.addClothes {

  .addClothes__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

  }

  .assClothes__box {
    border: 1px solid $color_Font;
    margin: 0 10px;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);

    h1,
    p {
      transform: rotate(-45deg);
      text-align: center;
      padding: 0;
      margin: 0;
    }

    h1 {
      margin-right: 50px;
    }

    p {
      margin-left: 30px;
    }

  }

  .addClothes__Img {
    display: none;

  }

  .addClothes__strip {
    margin-top: 40px;
  }
.addClothes__Img2 {
  img {
    margin: 0;
    //height: 100%;

  }
}


  .addClothes__Img2 {
    margin-top: 50px;
  }
}

@media (min-width: 815px) {
  .addClothes {
    display: flex;

  }
  .addClothes__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    //flex-wrap: nowrap;
  }
  .addClothes__Img {
    display: block !important;
    width: 50%;
    img {
      height: 100%;
    }
  }
  .addClothes__Img2 {
    display: none;
  }
}




