@import "../settings/mixin";
@import "../settings/colors";

.contact {
  margin-top: 50px;
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
    height: 100%;
  }
  img{
    margin: 0;
  }
}

@media (min-width: 720px) {
  .contact {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: ". .";
    }
  }
}
