@import "../settings/mixin";
@import "../settings/colors";

.footer {
  .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    img,
    p {
      margin: 10px 10px;
      font-size: 1.1rem;

    }
  }
}
@media (min-width: 720px) {
  .footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
