@import "../settings/mixin";
@import "../settings/colors";

.formAdd {
  background-image: url(../Background-Form.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .formAdd_steps {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: $color_Font;
    font-size: 1.5rem;
    margin: 0 0 0 10px;

  }

  .formAdd_nag {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 2rem;
    margin-left: 10px;
    width: 70%;
  }

  .form-check {
    display: flex;
    justify-items: center;
    position: relative;
    margin: 30px 0;

    label {
      color: #000000;
      font-size: 1.2rem;
      font-family: "Open Sans", sans-serif;
      line-height: 2rem;
      margin: 0;
      padding: 0 0 0 70px;
    }

    input {
      width: 0;
      height: 0;
      position: absolute;
      opacity: 0;
      cursor: pointer;

    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 10px;
      height: 40px;
      width: 40px;
      background-color: #EDEDEB;
      border: 1px solid #000000;
      cursor: pointer;
    }
  }

  .FormAdd_btnBox {
    button {
      border: 1px solid $color_Font;
      width: 130px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-top: 100px;
      font-size: 1.5rem;
      font-family: "Open Sans", sans-serif;
      margin: 10px;
      cursor: pointer;

    }
  }
}

//FormStepTwo

.form_select {
  padding-bottom: 100px;

  p {
    margin: 0 25px 0 10px;
  }


  .form-check_select {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    border: 1px solid black;
    position: absolute;
    width: 30%;
    top: 130%;
    left: 70%;

    li {
      list-style: none;
      margin: 1px;
      cursor: pointer;


    }
  }

  .form-check_hide {
    display: none;
  }

  .formTwo__select {
    border: 1px solid black;
    cursor: pointer;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    img {
      margin: 0;
    }
  }

  .number__bags {
    position: relative;
  }
}

@media (min-width: 720px) {
  .formAdd_one {
    margin: 0 0 0 142px;
  }
  .formAdd_steps {
    padding: 50px 0 50px 142px;
  }
  .FormAdd_btnBox {
    padding: 100px 0 30px 0 !important;
    display: flex;
  }
}

