@import "../settings/mixin";
@import "../settings/colors";

.WhoweHelp {
  .container {
    text-align: center;
    padding: 0 50px;
  }
  .WhoweHelp__btnBox {
    @include flex-fsa;
    flex-wrap: wrap;
    margin-bottom: 30px;
    a {
      font-family: "Open Sans";
      // border: 1px solid $color_3;
      padding: 15px 20px;
      text-decoration: none;
      color: $color_Font;
      font-size: 1.5rem;
      margin: 20px 10px;
    }
  }
  .WhoweHelp_text {
    font-family: "Open Sans";
    color: $color_Font;
    font-size: 1.2rem;
  }
  .WhoweHelp_box {
    margin-top: 50px;
  }
  .WhoweHelp_boxText {
    border-bottom: 1px solid $color_3;
    margin-top: 23px;
  }
  .WhoweHelp_link {
    margin: 30px;
    a {
      font-family: "Open Sans";
      padding: 7px;
      margin: 0 15px;
      text-decoration: none;
      color: $color_Font;
    }
  }
}

@media (min-width: 990px) {
  .WhoweHelp {
    .container {
      padding: 0 150px;
    }
  }
  .WhoweHelp_boxText {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  .WhoweHelp_text {
    padding: 0 150px;
  }
}
