@import "../settings/mixin";
@import "../settings/colors";

.WhoweHelp {
  .container {
    text-align: center;
    padding: 0 50px;
  }
  .WhoweHelp__btnBox {
    @include flex-fsa;
    flex-wrap: wrap;
    a {
      font-family: "Open Sans";
      // border: 1px solid $color_3;
      padding: 15px 20px;
      text-decoration: none;
      color: $color_Font;
      font-size: 1.5rem;
      margin: 20px 10px;
    }
  }
  .WhoweHelp_text {
    margin: 25px 0 75px 0;
    font-family: "open Sans";
  }
  .WhoweHelp_boxText {
    border-bottom: 1px solid $color_3;
    // margin-top: 23px;
  }
  .WhoweHelp_link {
    margin: 30px;
    a {
      font-family: "Open Sans";
      padding: 7px;
      margin: 0 15px;
      text-decoration: none;
      color: $color_Font;
    }
  }
  h1{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    font-family:'Merriweather' ;
  }
  p {
    margin: 7px 0 15px 0;
    font-size: 1rem;
  }

}

@media (min-width: 990px) {
  .WhoweHelp {
    .container {
      padding: 0 150px;
    }
  }
  .WhoweHelp_boxText {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  .WhoweHelp_text {
    padding: 0 150px;
  }
}
